[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
pillow = "*"
django-geofield = "*"
django-leaflet = "*"
rules = "*"
shortuuid = "*"
markdown = "*"
bleach = "*"
prospector = "*"
gunicorn = "*"
"psycopg2" = "*"
whitenoise = "*"
eventlet = "*"


[dev-packages]

pylint = "*"
"autopep8" = "*"
coverage = "*"
codacy-coverage = "*"


[requires]

python_version = "3.6"
