{% extends 'base.html' %}
{% load blog %}

{% block css %}
  <style>
      .card {
          max-height: 256px;
      }
      .card>.card-content>.card-title {
          white-space: nowrap;
          overflow-x: hidden;
      }
  </style>
{% endblock css %}

{% block navextend %}
<div class="nav-wrapper light-green darken-1">
    <div class="container">
        <div class="row">
            <div class="col s6">
                {% if category %}
                    <a class="breadcrumb" href="{% url 'blog:index' %}">Blogs</a>
                    <a class="breadcrumb active" href="#">{{category.name}}</a>
                {% else %}
                    <a class="breadcrumb active" href="{% url 'blog:index' %}">Blogs</a>
                {% endif %}
            </div>
        </div>
        {% if perms.articles.create %}
            <a href="{% url 'blog:article-add' %}" class="btn btn-floating btn-large halfway-fab waves-effect waves-light cyan accent-4"><i class="material-icons">add</i></a>
        {% endif %}
    </div>
</div>
{% endblock navextend %}

{% block content %}
{% firstof category.description description as desc %}

<main class="container">
  <h3>{{article_title}}</h3>                  
  {% if desc %}                               
    <div class="row">                         
        <div class="col s12 m8 offset-m2">    
            <p>{{desc}}</p>                   
        </div>                                
    </div>                                    
  {% endif %}
  <div class="row">
    {% if object_list %}
      {% for article in object_list %}
        {% has_perm 'blog.change_article' user article as can_edit_article %}
        <div class="col s12 l6">
          <div class="card">
            <div class="card-content">
              <span class="card-title truncate">{{article.title}}</span>
              <p class="grey-text">
                  <a href="{% url 'blog:category' article.category.slug %}">{{article.category.name}}</a>
                  | {{article.author}} | {{article.created | date}}</p>
              <p>{{article.intro|truncatewords:27}}</p>
            </div>
            <div class="card-action">
                <a class="light-green-text text-darken-3" href="{% url 'blog:article' article.slug %}">Lire</a>
                {% if can_edit_article %}
                    <a href="{% url 'blog:article-edit' article.slug %}" class="cyan-text accent-4-text"><i class="tiny material-icons">mode_edit</i></a>
                {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
    <p>
      Aucun article à afficher.
    </p>
    {% endif %}
  </div>
  <ul class="pagination center">
        {% if page_obj.has_previous %}
            <li class="waves-effect"><a href="{% url 'blog:index' %}?page={{page_obj.previous_page_number}}"><i class="material-icons">chevron_left</i></a></li>
        {% else %}
            <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
        {% endif %}

        {% for index in paginator.page_range %}
          {% if index == page_obj.number %}
            <li class="active light-green"><a href="#">{{index}}</a></li>
          {% else %}
            <li class="waves-effect"><a href="{% url 'blog:index' %}?page={{index}}">{{index}}</a></li>
          {% endif %}
        {% endfor %}    

        {% if page_obj.has_next %}
            <li class="waves-effect"><a href="{% url 'blog:index' %}?page={{page_obj.next_page_number}}"><i class="material-icons">chevron_right</i></a></li>
        {% else %}
            <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
    </ul>
</main>
{% endblock %}
